.myDIVPay{
    display: flex;
    /* justify-content: space-around; */
    height: 70px;
    margin-top: 10px;
}
.contentPay{
    width: 50%;
    height: 100%;
}
.payMethod{
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 7px 0;
}
.payMethod img{
    width: 40%;
    height: 55px;
    display: block;
    margin:auto;
    align-items: center;
    justify-content: center;
}
.contentAcc a{
    display: block;
    margin: auto;
}
.contentAcc a img{
    width: 100px;
    height: 80px;
    display: block;
    margin: auto;
}
.myDIVPay .contentPay.active .payMethod{
    background: #e5e6e6;
}

.myDIVPay .contentPay .contentAcc{
    position: relative;
    background: #fff;
    /* height: 0; */
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    z-index: 1;
    height: 130px;
    padding: 10px;
    /* display: none; */
}
/* #payNone{
    display: none;
} */
/* .myDIVPay .contentPay.active .contentAcc{
    height: 130px;
    padding: 10px;
} */







#blur{
    transition: 0.5s;
}
.titleBookTour{

text-align: center;
}
.divClose{
    text-align: right;
    margin-bottom: 20px;
}
.totalCostTour{
    display: flex;
    justify-content: space-between;
}
.btnTotalCostTour{
    
padding: 0 50px;
    
margin-top: 25px;
}
.totalCostTour .labelTotal{
    font-size: 20px;
    font-weight: 700;
}
.totalCostTour p{
    color: #efb479;
    font-size: 20px;
    font-weight: 600;
}

.main_chitiettour#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
#popup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -48%);
    width: 600px;
    padding: 10px 10px 35px 10px;
    box-shadow: 0 5px 30px rgba(0,0,0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popup.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.requestTour{
    padding: 0 35px;
    margin-top: 30px;
}
.initRequestTour{
    margin-bottom: 15px;
}
.initRequestTour .labelRequestTour{

}
.labelRequestTour span{
    color: red;
}
.initRequestTour input{
    box-shadow: none !important;
    outline: none !important;
}
.initRequestTour textarea{
    box-shadow: none !important;
    outline: none !important;
}
.initRequestTour input:focus{
    border-color: #456882;
}
.initRequestTour textarea:focus{
    border-color: #456882;
}